@using ViteDotNet.Views
@model DevelopmentViteScriptsComponent

@{
    var port = Model.IntegrationConfig.Port;
    var entrypoint = Model.IntegrationConfig.Entrypoint;

    var viteDevServerScript = $"http://localhost:{port}/@vite/client";
    var viteDevEntryPointScript = $"http://localhost:{port}/{entrypoint}";

    //Use only if it's React.
    var viteReactRefreshScript = $"http://localhost:{port}/@react-refresh";
}

@if(Model.IntegrationConfig.IsReact) {
    <script type="module">
        import RefreshRuntime from '@viteReactRefreshScript'
        RefreshRuntime.injectIntoGlobalHook(window)
        window.$RefreshReg$ = () => { }
        window.$RefreshSig$ = () => (type) => type
        window.__vite_plugin_react_preamble_installed__ = true
    </script>
}

<script type="module" src="@viteDevServerScript"></script>
<script type="module" src="@viteDevEntryPointScript"></script>


<div id="@Model.IntegrationConfig.ContainerElementId"></div>

<script>
    setTimeout(() => {
        const container = document.getElementById("@Model.IntegrationConfig.ContainerElementId");

        if (!container.hasChildNodes()) {
            container.innerHTML = `
                <div style="margin: 0 auto; width: 60%; margin-top: 50px; font-family: Inter, Avenir, Helvetica, Arial, sans-serif; color: #213547;">
                     <h1 style="font-size: 3.2em; font-weight: bold;">Vite.NET</h1>
                     <p>Oops! It looks like the Vite dev server endpoint couldn't be reached. Check that the Dev server is running or that the endpoint is referenced correctly.</p>
                </div>
            `;
        }
    }, 3000);
</script>
