@using ViteDotNet.Views
@model ProductionViteScriptsComponent

@if(Model.AppManifest is null)
{
    <div>An error ocurred. Either a production build has not been created or the configuration points to a non existing manifest file.</div>
}
else
{
    var jsBundle = $"{Model.AppManifest.file}";

    if (Model.AppManifest.css is not null)
    {
        foreach (var css in Model.AppManifest.css)
        {
            @: <link rel="stylesheet" href="@css" />
        }
    }

    <script type="module" src="@jsBundle"></script>

    <div id="@Model.IntegrationConfig.ContainerElementId"></div>
}