@using ViteDotNet.Views
@model ProductionViteScriptsComponent

@{
    var jsBundle = $"{Model.IntegrationConfig.RootDirectory}/{Model.AppManifest.file}";
}

@if(Model.AppManifest.css is not null)
{
    foreach (var css in Model.AppManifest.css)
    {
        var cssFile = $"{Model.IntegrationConfig.RootDirectory}/{css}";

        @: <link rel="stylesheet" href="@cssFile" />
    } 
}

<script type="module" src="@jsBundle"></script>

<div id="@Model.IntegrationConfig.ContainerElementId"></div>
