@using ViteDotNet.Views
@model ProductionViteScriptsComponent

@if(Model.AppManifest is null)
{
    <div style="margin: 0 auto; width: 40%; margin-top: 50px; font-family: Inter, Avenir, Helvetica, Arial, sans-serif; color: #213547;">
        <h1 style="font-size: 3.2em; font-weight: bold;">Production Bundle not found</h1>
        <p>An error has ocurred. Either a production build has not been created or the configuration points to a non existing manifest file. Make sure that your configured app directory is typed correctly.</p>
    </div>
}
else
{
    var jsBundle = $"{Model.AppManifest.file}";

    if (Model.AppManifest.css is not null)
    {
        foreach (var css in Model.AppManifest.css)
        {
            @: <link rel="stylesheet" href="@css" />
        }
    }

    <script type="module" src="@jsBundle"></script>

    <div id="@Model.IntegrationConfig.ContainerElementId"></div>
}