@using ViteDotNet.Views
@model ProductionViteScriptsComponent

@{
    var jsBundle = $"{Model.AppManifest.file}";
}

@if(Model.AppManifest.css is not null)
{
    foreach (var css in Model.AppManifest.css)
    {
        @: <link rel="stylesheet" href="@css" />
    } 
}

<script type="module" src="@jsBundle"></script>

<div id="@Model.IntegrationConfig.ContainerElementId"></div>
